body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.card {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
}

.card-header {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

.card-header h2 {
    margin: 0;
    color: #333;
}

.card-img {
    height: 200px;
    width: 100%;
    display: block;
    background-color: #ddd;
    padding: 0;
    margin: 0;
}

.user-info {
    text-align: center;
}

h3 {
    margin: 10px auto;
    color: #333;
    text-align: center;
}

p {
    margin: 10px auto;
    color: #666;
    text-align: center;
}
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 10px;
}
.social-icon {
    width: 20px;
    height: 20px;
}
.contact-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-family: monospace;
    font-weight: bold;
}
.contact-button:hover {
    background-color: #0056b3;
}
a:visited, a:link {
    color: white;
    text-decoration: none;
}