body {
    margin: 0;
    padding: 0;
    height: 100%;
}

table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
    align-items: center;
}

td {
    border: 2px solid black;
    padding-left: 10px;
    color: white;
    font-size: x-large;
}

#left {
    background-color: cornflowerblue;
}

#right {
    background-color: crimson;
}